# Django
db.sqlite3
*.log
local_settings.py

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

# React / Node
discovery-ui/node_modules/
discovery-ui/build/
discovery-ui/.env.local